/* offcanvas가 보이는 화면 */
@media (min-width: 576px) {
  .offcanvas {
    visibility: visible;
    width: 300px;
    transform: none !important;
    position: fixed;
    z-index: 0;
  }

  #topfixednav {
    z-index: 1;
  }

  #offcan .offcanvas-header {
    display: none;
  }

  #offcan {
    padding-top: 60px;
  }

  #offcan {
    width: 200px;
  }
}

/* offcanvas가 안보이는 화면 */
@media (max-width: 575px) {
  .container-fluid {
    justify-content: space-between;
  }

  .btn {
    margin-left: auto;
    margin-right: 10px;
  }

  main {
    margin-left: 5% !important;
  }
}

@media (max-width: 441px) {
  .container-fluid {
    padding: 4px;
  }

  .navbar .btn .navbar a {
    width: 23vw;
    font-size: 4vw;
    padding: 0px;
    margin-right: 4px;
  }

  .navbar .btn {
    height: 5vh;

  }

  .navbar .navbar-brand {
    margin: 0px
  }

  .btn {
    margin-left: 10px;
    margin-right: 10px;
  }

  table td,
  table th {
    font-size: 3vw !important;
  }
}

@media (max-width: 346px) {

  #topfixednav .container-fluid {
    padding: 0px;
  }

  .navbar .btn {
    width: 20vw;
    font-size: 4vw;
    padding: 0px 2px;
    margin-right: 4px;
    margin-left: 4px;
  }

  .navbar .navbar-brand {
    font-size: 5vw;
  }

  .navbar .navbar-brand {
    margin: 0px 10px 0px 10px;
  }

  .btn {
    margin-left: auto;
    margin-right: 10px;
  }

  table td,
  table th {
    font-size: 1px !important;
  }
}

/* 세로가 너무 짧은 경우 */
@media (max-height: 480px) {
  #topfixednav {
    height: 30px;
    border-bottom: 1px solid #ddd;
  }

  #offcan {
    width: 20vw;
    font-size: 3vm;
  }

  .offcanvas-body {
    padding: 8px
  }

  main {
    margin-left: 24vw !important;
  }

  .shadow {
    box-shadow: none !important;
  }

  table td,
  table th {
    font-size: 2vh !important;
  }
}

.navbar-toggler {
  box-shadow: none !important;
}

button.navbar-toggler:active {
  box-shadow: none !important;
  background-color: #666 !important;
}

.navbar-brand {
  margin: 0px 80px 0px 20px;
}

ul {
  margin: 0px 10px 10px 10px;
}

.offcanvas-body h4 {
  margin: 32px 0px 8px 0px;
}

.offcanvas-body li {
  font-size: 16px;
  margin-bottom: 4px;
}

.offcanvas-body a {
  text-decoration: none;
  color: black;
}

main {
  margin: 50px 5% 5% 250px;
}

caption {
  color: midnightblue;
  font-weight: 700;
}

/* 오프캔버스로 클릭하여 이동 시 네비게이션 바에 의해 가려지기 때문에 패딩을 크게 주고 마진을 음수값으로 적용. 해당 위치로 이동 시 패딩부분이 네비게이션 바에 가려져 네비게이션 바로 아래에 컨텐츠가 오도록 이동할수 있으며 마진이 음수이기때문에 실제로는 컨텐츠간 간격이 커보이지 않음 */
main h3,
main caption {
  padding-top: 80px;
  margin-top: -30px;
}

main table i {
  color: #6ee;
}

main table span {
  color: #e66;
}

thead th {
  text-align: center;
}

nav .container-fluid {
  width: 95%;
}